.ContainerFlex__CartContainer{
    height: 55px;
    width: 120px;
    background-color: rgba(156, 146, 146, 0.355);
    margin-top: 8px;
    border-radius: 20px;
    display: grid;
    grid-template-areas: "CartContainer__Colmn1 CartContainer__Colmn2";
    grid-template-columns: 1fr 1fr;
}

.CartContainer__Colmn1{
    grid-area: CartContainer__Colmn1;
    background-color: rgba(196, 196, 197, 0);
}

.Colmn1__IMG{
    height: 49px;
    width: 49px;
    margin-top: 4px;
    margin-left: 3px;
}

.CartContainer__Colmn2{
    grid-area: CartContainer__Colmn2;
    background-color: rgba(148, 148, 148, 0);
}

.Colmn2__Fact{
    font-size: 35px;
    position: relative;
    bottom: 25px;
}